<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %> 

<body>
    <%- include('./partials/nav.ejs') %> 
    <div class="about content">
        <h2>About us</h2>
        <p>ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff</p>
        <p>fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff</p>
        <p>ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff</p>
    </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>